<div class="loadedPage">
	<h1>Editing integrant</h1>

	<%= render 'form' %>

				<li>
		          	<li>
						<%= button_to 'Show', @integrant, :method =>"get" ,:class=>"button"%> 
					</li>
					<li>
						<%= button_to 'Back', integrants_path, :method =>"get",:class=>"button" %>
					</li>
				</li>
			</ul>
		</nav>
	</div>
</div>