<div class="loadedPage">
	<h1>Editing Conductor</h1>

	<%= render 'form' %>
	        	<li>
		          	<li>
						<%= button_to 'Show', @conductor, :method =>"get" ,:class=>"button"%> 
					</li>
					<li>
						<%= button_to 'Back', conductors_path, :method =>"get",:class=>"button" %>
					</li>
				</li>
			</ul>
		</nav>
	</div>
</div>
