<div class="loadedPage">
	<h1>New Conductor</h1>

	<p id="notice"><%= notice %></p>


	<%= render 'form' %>
					<li>
						<%= button_to 'Back', conductors_path, :method =>"get",:class=>"button" %>
					</li>
				</li>
			</ul>
		</nav>
	</div>
</div>
