<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="um"><%= user.email %></td>
        <td class="botao"><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?'},:class => "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New User', new_user_path,:class => "button", :method =>"get" %>
