/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.menu {
	margin: -0.8%; 
	padding:0.7%; 
	width:100%;
    background:rgb(24, 42, 60);
	/*background:rgba(0,0,82,0.6);*/
}

li.user{
	margin-left:10%;
	color:rgb(290, 186, 94);
}

.menu{
	font-family: arial, helvetica, sans-serif;
	font-size: 18px;
	list-style:none;
	float:left;

	text-shadow: 0.1em 0.1em 0.2em black;
}


.menu li{
	
	position:center;
	float:left;
}

.options{
	border-right:1px solid rgb(290, 186, 94);
	
}

.nota{
	margin:0 10px 0 0;
	border-right:2px solid rgb(41, 128, 185);
}

.menu li a{
	color:rgb(290, 186, 94); 
	text-decoration:none; 
	padding:5px 10px; 
	display:block;
}
 
.menu li a:hover{
	background:rgb(52, 73, 94);
	color:rgb(290, 186, 94);
	box-shadow:0 3px 10px 0 rgb(41, 128, 185);
}



.content{
	width:95%;
	height:88%;
	margin-left:2%;
	margin-top: 2%;
	color:rgb(44, 62, 80);
	text-shadow: 0.1em 0.1em 0.2em black;
	box-shadow:0 3px 10px 0 #000;
	
	background: #E6E6E6 ;
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg)
}

.outside{
	position: absolute;
	width:90%;
	height:70%;
	margin-left:4%;
	margin-top: 5%;
	background: rgb(241, 196, 15); /* Standard syntax (must be last) */
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg)
}

.inside{
	position: fixed;
	width:90%;
	height:40%;
	margin-left:1%;
	margin-top: -1%;
	color:rgb(290, 186, 94);
    
}

body{
	background-image:url('../images/fundo.jpg');
}

.loadedPage{
	margin:5%;
}


table,th,td{
	border-collapse: collapse;
	border: 10px solid #E6E6E6;
}

th{
	background:rgb(24, 42, 60);
	height: 40px;
	width: 60px;
}

td.um{
	background:rgb(241, 196, 15);
}

td.dois{
	background: rgba(149, 165, 166,0.6);
}

.botao{
	border-radius: 1px;
}

h1{
	color:rgb(44, 62, 80);
}

.button{
	border-radius:5px;
}