<div class="loadedPage">
	<h1>New instrument</h1>

	<%= render 'form' %>

	<li>
							<%= button_to 'Back', instruments_path, :method =>"get",:class=>"button" %>
						</li>
					</li>
				</ul>
			</nav>
		</div>
</div>
