<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instrument.name %>
</p>

<%= button_to 'Edit', edit_instrument_path(@instrument), :method =>"get" %> |
<%= button_to 'Back', instruments_path, :method =>"get" %>
